/* страница портфолио */
.portfolio {
    background-color: var(--white-text-colour);
}

.portfolio__list {
    display: flex;
    justify-content: center;
}

.portfolio__item {
    margin-right: 8px;
    &:last-child {
            margin-right: 0;
        }
}

